body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    padding: 50px 20px;
}
h1 {
    font-size: 3em;
    color: #56539a;
    animation: fadeIn 1.5s ease-in-out;
}
p {
    font-size: 1.2em;
    margin: 20px 0;
    animation: fadeIn 2s ease-in-out;
}
.join-btn {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 10px;
    font-size: 1.5em;
    color: #fff;
    background-color: #5865F2;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.3s ease;
    animation: fadeIn 2.5s ease-in-out;
}
.join-btn:hover {
    background-color: #4752C4;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.logo {
    display: block;
    margin: auto;
    width: 10%;
    margin-top: 5%;
}
 
.join-img {
    display: block;
    margin: auto;
 }